/* Ben's Ultra-Simple CSS stylesheet */

body {
  background-color: PowderBlue;
}


p {
    font-family: Georgia;
    font-size: 10pt;
}

h1 {
    font-family: Arial;
}

.site-id {
    background-color: #e2c8b6;
    font-style: italic;
    font-size: 9pt;
}

hr {
    border-top: 5px solid grey;
}
