html,
body,
div,
form,
fieldset,
legend,
label,
td {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

#grid {
  border-spacing: 0;
  white-space: nowrap;
  image-rendering: pixelated;
  /* background-image: url("huge-aes.gif"); */
}

#grid td {
  height: 99px;
  width: 99px;
  /* background-image: url("pipes.gif"); */
  display: inline-block;
  user-select: none;
  position: relative;
}

#grid td:focus {
  box-shadow: inset 0 0 0 1px #333333;
  pointer-events: none;
}

.bubble {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  display: none;
  white-space: normal;
  position: absolute;
  top: 99px;
  right: -34px;
  width: 167px;
  z-index: 1;
  pointer-events: auto;
  border-width: 7px 1px 1px 1px;
  border-style: solid;
  border-image-repeat: stretch;
  border-image-outset: 0;
  border-image-slice: 7 3 3 3 fill;
  border-image-width: 7px 3px 3px 3px;
}

.bubble p {
  padding: 0.2em 0.4em;
  margin: 0;
}

.note {
  color: #ffffff;
  border-color: #333333;
  border-image-source: url("grey\ bubble.gif");
}

.plead {
  color: #000000;
  border-color: #006699;
  border-image-source: url("blue\ bubble.gif");
}

.note strong {
  text-shadow: -1px 1px 0px #333333;
}

.plead strong {
  text-shadow: -1px 1px 0px #ffffff;
}

#grid td:focus .bubble {
  display: block;
}

#footer {
  background: red;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}

:link {
  color: #0000FF;
}

:visited {
  color: #663399;
}

.plead :link:hover, .plead :visited:hover {
  text-shadow: -1px 1px 0px #FFFFFF;
}

:link:active, :visited:active {
  color: #FF0000;
}