<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="Personal blog and writings">
    <meta name="author" content="Ben Collins-Sussman">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>

  <body>
    <link rel="stylesheet" href="/bundle.css">
    <header>
      <h1>{{ title | default: "Writings from sussman@" }}</h1>

      <div class="site-id">
      <p>
        This is
      the <a href="https://social.clawhammer.net/blog">personal
      blog</a> of <a href="https://www.red-bean.com/sussman">Ben
      Collins-Sussman</a>.
      <ul><li> Also see
      <a href="https://www.debuggingteams.com/">Debugging Teams</a>,
      his book on collaboration & culture in software
      engineering.</li>
      <li>His <a href="https://docs.google.com/presentation/d/10WFQUE7jBgyMNRnP_FPq3F7FkEtpsvXikkIp2nsI10k/edit?usp=sharing">How
      to Leader</a> talk (available
      in <a href="https://abseil.io/resources/swe-book/html/ch06.html">prose
      form</a>.)</li></ul>
      </p>
      </div>
                                
    </header>

    <main>
      {{ content }}
    </main>

  </body>
</html>

